<ng-container *ngIf="contactPersons$ | async; let contactPersons">
  <header class="grid-1-auto-auto mb-2">
    <h4 data-cy="heading">Kontaktpersonen ({{ contactPersons.length }})</h4>
    <a routerLink="new" ghost size="medium" nbButton status="primary" data-cy="new-contact">
      <nb-icon icon="person-add-outline"></nb-icon>
      Neue Person
    </a>
  </header>
  <div *ngIf="contactPersons.length > 0; else noContactPersons">
    <nb-card fullWidth>
      <nb-list>
        <nb-list-item *ngFor="let contactPerson of contactPersons">
          <app-contact-person-card [contactPerson]="contactPerson" data-cy="contact-person-card"></app-contact-person-card>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
  <ng-template #noContactPersons>
    <div class="hint-no-contact-persons text-hint">
      <h6 class="text-hint">Keine Kontaktpersonen registriert</h6>
      <p class="label">Legen sie eine neue Kontaktperson <a class="text-primary" routerLink="new">hier</a> an</p>
    </div>
  </ng-template>
  <nb-layout>
    <router-outlet></router-outlet>
  </nb-layout>
</ng-container>
