.navbar {
  height: 60px;
  display: grid;
  grid-template-columns: auto auto auto 1fr auto;
  align-items: center;
  top: 0;
  width: 100%;
  z-index: 2;
  position: fixed;
  background-color: white;
  box-shadow: 0 8px 20px 0 rgba(218, 224, 235, 0.6);
  gap: 10px;
  & .navbar-item:first-child {
    margin-left: 10px;
  }
  & .navbar-item:last-child {
    margin-right: 10px;
  }
}
