<nb-card accent="primary">
  <nb-card-header>
    <nb-checkbox>
      Agentur für Arbeit: Projekt 1
    </nb-checkbox>
    <button size="small" nbButton [nbContextMenu]="items">
      <nb-icon icon="more-vertical-outline"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases. Originally,
    nebula was a name for any diffuse astronomical object, including galaxies beyond the Milky Way.
  </nb-card-body>
  <nb-card-footer>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum enim nesciunt id minus impedit
    sit laborum corporis odit sunt soluta!
  </nb-card-footer>
</nb-card>
