@import 'src/sass/utils';
@import 'src/sass/colors';
@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';

.card-options {
  display: grid;
  gap: 0 10px;
  grid-template-columns: 1fr auto;
  justify-items: right;
}

.card-information-header {
  margin-top: 20px;
  font-weight: bold;
}

.card-information-body {
  margin-top: 10px;
}

nb-accordion {
  margin-bottom: 10px;
}

nb-accordion-item-header {
  gap: 15px;
}

nb-checkbox {
  display: grid;
  align-items: center;
}

.nb-accordion-item-header-wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  gap: 0 10px;
}

nb-accordion-header {
  position: relative;
}

.banner-status {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top-left-radius: nb-theme(accordion-border-radius);
  border-top-right-radius: nb-theme(accordion-border-radius);
}

.banner-status-is-planned {
  background-color: nb-theme(color-danger-default);
}

.banner-status-in-action {
  background-color: nb-theme(color-warning-default);
}

.banner-status-is-finished {
  background-color: nb-theme(color-success-default);
}

.banner-status-is-canceled {
  background-color: nb-theme(background-basic-color-2);
}

nb-badge {
  border-bottom-right-radius: 0px;
}
