<nb-card [routerLink]="[audit.id]">
  <ng-container [ngSwitch]="audit.status">
    <div nbPopoverPlacement="left" nbPopover="Geplant" nbPopoverTrigger="hint" *ngSwitchCase="auditStatus.IsPlanned" class="banner-status banner-status-is-planned"></div>
    <div nbPopoverPlacement="left" nbPopover="In Bearbeitung" nbPopoverTrigger="hint" *ngSwitchCase="auditStatus.InAction" class="banner-status banner-status-in-action"></div>
    <div nbPopoverPlacement="left" nbPopover="Abgeschlossen" nbPopoverTrigger="hint" *ngSwitchCase="auditStatus.IsFinished" class="banner-status banner-status-is-finished"></div>
    <div nbPopoverPlacement="left" nbPopover="Abgebrochen" nbPopoverTrigger="hint" *ngSwitchCase="auditStatus.IsCanceled" class="banner-status banner-status-is-canceled"></div>
  </ng-container>
  <nb-card-header>
    <div>
      {{ audit.name }}
      <span *ngIf="audit.customerData.name">, {{ audit.customerData.name }} </span>
      <span class="label" *ngIf="audit.start">
        &nbsp;({{ audit.start | date: 'dd.MM.yyyy' }} - <span *ngIf="audit.end">{{ audit.end | date: 'dd.MM.yyyy' }}</span
        >)
      </span>
    </div>
    <div></div>
    <button (click)="$event.stopPropagation()" nbContextMenuPlacement="left" nbContextMenuTrigger="focus" nbButton [nbContextMenu]="items" [nbContextMenuTag]="nbMenuId">
      <nb-icon icon="more-vertical-outline"></nb-icon>
    </button>
  </nb-card-header>
</nb-card>
