@import 'src/sass/utils';
@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';

nb-card-header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 0 10px;
}

nb-card {
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
}

.banner-status {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 12px;
  -webkit-box-shadow: 3px 0px 3px 0px rgba(44, 51, 73, 0.1);
  -moz-box-shadow: 3px 0px 3px 0px rgba(44, 51, 73, 0.1);
  box-shadow: 3px 0px 3px 0px rgba(44, 51, 73, 0.1);
  border-bottom-left-radius: nb-theme(card-border-radius);
  border-top-left-radius: nb-theme(card-border-radius);
}

.banner-status-is-planned {
  background-color: nb-theme(color-danger-default);
}

.banner-status-in-action {
  background-color: nb-theme(color-warning-default);
}

.banner-status-is-finished {
  background-color: nb-theme(color-success-default);
}

.banner-status-is-canceled {
  background-color: nb-theme(background-basic-color);
}

a {
  text-decoration: none;
}
