<nb-accordion>
  <nb-accordion-item>
    <nb-accordion-item-header>
      <ng-container [ngSwitch]="audit.status">
            <div *ngSwitchCase="auditStatus.IsPlanned" class="banner banner-status-is-planned"></div>
            <div *ngSwitchCase="auditStatus.InAction" class="banner banner-status-in-action"></div>
            <div *ngSwitchCase="auditStatus.IsFinished" class="banner banner-status-is-finished"></div>
            <div *ngSwitchCase="auditStatus.IsCanceled" class="banner banner-status-is-canceled"></div>
      </ng-container>
      <div class="nb-accordion-item-header-wrapper">
        <nb-checkbox (click)="$event.stopPropagation()"></nb-checkbox>
        <div>
          {{ audit.name }}
          <span *ngIf="audit.customerData.name">, {{ audit.customerData.name }} </span>
          <span class="label" *ngIf="audit.start">
            &nbsp;({{ audit.start | date: 'dd.MM.yyyy' }} - <span *ngIf="audit.end">{{ audit.end | date: 'dd.MM.yyyy' }}</span
            >)
            </span>
          <ng-container [ngSwitch]="audit.status">
            <nb-badge *ngSwitchCase="auditStatus.IsPlanned" text="Geplant" status="danger" position="top right"></nb-badge>
            <nb-badge *ngSwitchCase="auditStatus.InAction" text="In Bearbeitung" status="warning" position="top right"></nb-badge>
            <nb-badge *ngSwitchCase="auditStatus.IsFinished" text="Abgeschlossen" status="success" position="top right"></nb-badge>
            <nb-badge *ngSwitchCase="auditStatus.IsCanceled" text="Abgebrochen" status="basic" position="top right"></nb-badge>
          </ng-container>
        </div>
      </div>
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <nb-tabset>
        <nb-tab tabTitle="Kontakt">
          <div class="card-information-header">
            Unternehmen
          </div>
          <div class="card-information-body">{{ audit.customerData.name }}, {{ audit.customerData.department }} ({{ audit.customerData.sector }})</div>
          <div class="card-information-header">
            Kontaktperson
          </div>
          <div class="card-information-body">
            {{ audit.contactPerson.title }} {{ audit.contactPerson.firstName }}
            {{ audit.contactPerson.lastName }}
          </div>
          <div class="card-information-header">
            Kontaktinformationen
          </div>
          <div class="card-information-body">
            {{ audit.contactPerson.information }}
          </div>
        </nb-tab>
      </nb-tabset>
      <div class="card-options">
        <button nbButton status="primary">zum Audit</button>
        <button nbButton [nbContextMenu]="items" [nbContextMenuTag]="nbMenuId">
          <nb-icon icon="more-vertical-outline"></nb-icon>
        </button>
      </div>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>
