@import 'src/sass/utils';

header {
  margin: 20px 0 10px 0;
  display: grid;
  grid-template-columns: 1fr auto;
}

nb-accordion {
  margin-bottom: 15px;
}

app-interview-card {
  position: relative;
  padding-left: 30px;
}

nb-card {
  margin-bottom: 0px;
}
ul {
  list-style-type: none;
}

li {
  margin-left: 20px;
}

.criteria-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  @media screen and (max-width: 800px) {
    grid-template-columns: 1fr;
  }
}

.hint-no-facrit {
  max-width: 900px;
  margin: 100px auto 0 auto;
  text-align: center;
}

.wrapper-scope {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  @media screen and (max-width: 800px) {
    grid-template-columns: 1fr;
  }
}
