<header>
  <button *ngIf="(audit$ | async).facCrits.length > 0" [routerLink]="['new']" nbButton status="primary" hero data-cy="new-interview">
    <div class="min-500">
      <nb-icon icon="plus"></nb-icon>
      Neues Interview
    </div>
    <div class="max-500">
      <nb-icon icon="plus"></nb-icon>
    </div>
  </button>
</header>
<div class="fac-crits" *ngIf="(audit$ | async).scope.length > 0; else noFacrits">
  <div *ngFor="let factor of (audit$ | async).scope | factors">
    <nb-card class="mb-1" *ngFor="let facCrit of (audit$ | async).scope | facCritByFactor: factor.id">
      <nb-card-header class="subtitle-2">{{ facCrit.name }}</nb-card-header>
      <nb-card-body>
        <nb-list *ngIf="(audit$ | async).interviews | interviewByFacCrit: facCrit.id as interviews; else noInterviews">
          <nb-list-item *ngFor="let interview of interviews">
            <app-interview-card [interview]="interview" [facCritId]="facCrit.id"></app-interview-card>
          </nb-list-item>
        </nb-list>
        <ng-template #noInterviews>
          <div class="hint-no-interviews label">
            Keine Interviews vorhanden
          </div>
        </ng-template>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<ng-template #noFacrits>
  <div class="hint-no-facrits">
    <h6 class="text-hint">Keine ISO/IEC 25010 Faktoren/Kriterien für diesen Audit ausgewählt.</h6>
  </div>
</ng-template>
<nb-layout>
  <router-outlet></router-outlet>
</nb-layout>
