<form [formGroup]="formGroup" data-cy="add-interview-form">
  <nb-card>
    <nb-card-header>Neues Interview</nb-card-header>
    <nb-card-body>
      <div class="mb-2">
        <label class="label">ISO/IEC 25010 Kriterium</label>
        <nb-select [status]="facCrit.invalid && facCrit.touched ? 'danger' : 'basic'" formControlName="facCrit" fullWidth placeholder="Select Groups" data-cy="interview-category-input">
          <nb-option-group *ngFor="let factor of facCrits | factors" [title]="factor.name">
            <nb-option *ngFor="let criteria of facCrits | criterias: factor.id" [value]="criteria" data-cy="interview-category-option">{{ criteria.name }}</nb-option>
          </nb-option-group>
        </nb-select>
        <div *ngIf="facCrit.invalid && facCrit.touched">
          <label class="label text-danger">ISO/IEC 25010 Kriterium wählen</label>
        </div>
      </div>
      <div class="mb-2">
        <label class="label">Startdatum</label>
        <input formControlName="startDate" readonly nbInput fullWidth [nbDatepicker]="datePickerStart" data-cy="interview-start-input" />
        <nb-datepicker #datePickerStart></nb-datepicker>
      </div>
      <div class="mb-2">
        <label class="label">Kontaktpersonen</label>
        <nb-select formControlName="contactPeople" multiple fullWidth>
          <nb-option *ngFor="let contactPerson of contactPeople$ | async" [value]="contactPerson">{{ contactPerson.firstName + ' ' + contactPerson.lastName }}</nb-option>
        </nb-select>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button (click)="onCancel()" hero nbButton data-cy="cancel-interview-data-form">
        abbrechen
      </button>
      <button [disabled]="formGroup.invalid" (click)="onSubmit()" status="primary" hero nbButton data-cy="submit-interview-data-form">
        Hinzufügen
      </button>
    </nb-card-footer>
  </nb-card>
</form>
