<form [formGroup]="auditForm">
  <nb-accordion multi>
    <nb-accordion-item expanded>
      <nb-accordion-item-header>
        1. Audit Grunddaten
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <div class="grid-3-1">
          <div class="form-item">
            <label class="label">Auditname</label>
            <input [status]="auditName.invalid && auditName.touched ? 'danger' : 'basic'" formControlName="auditName" nbInput fullWidth />
            <div *ngIf="auditName.invalid && auditName.touched">
              <label class="label text-danger">Auditnamen eintragen</label>
            </div>
          </div>
          <div class="form-item">
            <label class="label">Status</label>
            <nb-select formControlName="status" fullWidth>
              <nb-option [value]="0">Geplant</nb-option>
              <nb-option [value]="1">In Bearbeitung</nb-option>
              <nb-option [value]="2">Abgeschlossen</nb-option>
              <nb-option [value]="3">Abgebrochen</nb-option>
            </nb-select>
          </div>
        </div>
        <div class="grid-1-1">
          <div class="form-item">
            <label class="label">Startdatum</label>
            <input formControlName="start" readonly nbInput fullWidth [nbDatepicker]="datePickerStart" />
            <nb-datepicker #datePickerStart></nb-datepicker>
          </div>
          <div class="form-item">
            <label class="label">Enddatum</label>
            <input formControlName="end" readonly nbInput fullWidth [nbDatepicker]="datePickerEnd" />
            <nb-datepicker #datePickerEnd></nb-datepicker>
          </div>
        </div>
      </nb-accordion-item-body>
    </nb-accordion-item>
    <nb-accordion-item>
      <nb-accordion-item-header>
        2. Kundendaten
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <div class="grid-2-1-1">
          <div class="form-item">
            <label class="label">Unternehmen</label>
            <input formControlName="companyName" nbInput fullWidth />
          </div>
          <div class="form-item">
            <label class="label">Abteilung</label>
            <input formControlName="department" nbInput fullWidth />
          </div>
          <div class="form-item">
            <label class="label">Branche</label>
            <input formControlName="sector" nbInput fullWidth />
          </div>
        </div>
      </nb-accordion-item-body>
    </nb-accordion-item>
    <nb-accordion-item>
      <nb-accordion-item-header>
        3. Kontaktdaten
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <div class="grid-1-1 mb-2">
          <div class="form-item">
            <label class="label">Anrede</label>
            <nb-select formControlName="salutation" fullWidth>
              <nb-option value="Herr">Herr</nb-option>
              <nb-option value="Frau">Frau</nb-option>
              <nb-option value="Divers">Divers</nb-option>
            </nb-select>
          </div>
          <div class="form-item">
            <label class="label">Titel</label>
            <input formControlName="title" nbInput fullWidth />
          </div>
        </div>
        <div class="grid-1-1 mb-2">
          <div class="form-item">
            <label class="label">Vorname</label>
            <input formControlName="firstName" nbInput fullWidth />
          </div>
          <div class="form-item">
            <label class="label">Nachname</label>
            <input formControlName="lastName" nbInput fullWidth />
          </div>
        </div>
        <div class="form-item field-item-contact-information">
          <label class="label">Kontaktinformation</label>
          <textarea spellcheck="false" nbInput formControlName="contactInformation" placeholder="Erreichbar unter..." fullWidth></textarea>
        </div>
      </nb-accordion-item-body>
    </nb-accordion-item>
    <nb-accordion-item>
      <nb-accordion-item-header>4. ISO/IEC 25010 Kategorien</nb-accordion-item-header>
      <nb-accordion-item-body>
        <div class="category-container">
          <ul *ngFor="let factor of formFactors">
            <nb-checkbox [checked]="factor['selected']" (checkedChange)="onFactorSelect(factor)">
              {{ factor.title }}
            </nb-checkbox>
            <li *ngFor="let category of factor.categories">
              <nb-checkbox [checked]="category['selected']" (checkedChange)="category['selected'] = !category['selected']">
                {{ category.title }}
              </nb-checkbox>
            </li>
          </ul>
        </div>
      </nb-accordion-item-body>
    </nb-accordion-item>
    <nb-accordion-item expanded>
      <nb-accordion-item-header style="display: none;"></nb-accordion-item-header>
      <nb-accordion-item-body>
        <div class="accordion-footer">
          <button (click)="onCancel()" hero nbButton>
            abbrechen
          </button>
          <button (click)="onSubmit()" [disabled]="auditForm.invalid" status="primary" hero nbButton>
            {{ submitButtonName }}
          </button>
        </div>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</form>
