<header class="grid-1-auto-auto mb-2">
  <h4>Kontakt</h4>
  <a routerLink="new" hero size="medium" nbButton status="primary" data-cy="new-contact">
    <nb-icon icon="person-add-outline"></nb-icon>
    Neue Person
  </a>
</header>
<div *ngIf="contactPersons$ | async as contactPersons; else noContactPersons">
  <nb-card fullWidth>
    <nb-card-header>Registrierte Kontaktpersonen ({{ contactPersons.length }})</nb-card-header>
    <nb-card-body>
      <nb-list>
        <nb-list-item *ngFor="let contactPerson of contactPersons">
          <app-contact-person-card [contactPerson]="contactPerson" data-cy="contact-person-card"></app-contact-person-card>
        </nb-list-item>
      </nb-list>
    </nb-card-body>
  </nb-card>
</div>
<ng-template #noContactPersons>
  <div class="hint-no-contact-persons text-hint">
    <h6 class="text-hint">Keine Kontaktpersonen registriert</h6>
  </div>
</ng-template>
<nb-layout>
  <router-outlet></router-outlet>
</nb-layout>
