<nb-layout>
  <nb-layout-header fixed>
    <nb-actions size="small">
      <nb-action (click)="toggleSidebar()" icon="menu-2-outline" data-cy="toggle-sidebar">Hello</nb-action>
      <nb-action badgeStatus="primary" [badgeText]="(audits$ | async) ? (audits$ | async).length : '0'" routerLink="/audits" icon="home-outline" data-cy="home"></nb-action>
      <nb-action routerLink="/contact-people" icon="people-outline" data-cy="contacts"></nb-action>
    </nb-actions>
  </nb-layout-header>
  <nb-sidebar collapsedBreakpoints="lg, md, sm, is, xs" responsive data-cy="sidebar">
    <div class="sidebar-container">
      <div class="sidebar-container-content" data-cy="sidebar-content">
        <app-sidebar></app-sidebar>
      </div>
    </div>
  </nb-sidebar>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>

<ng-container appActionListener></ng-container>
