<app-navbar></app-navbar>
<nb-layout>
  <nb-sidebar style="top: 60px; z-index: 1;" collapsedBreakpoints="lg, md, sm, is, xs" responsive>
    <div class="sidebar-container">
      <div class="sidebar-container-content">
        <h5>Sidebar</h5>
      </div>
      <span class="sidebar-container-version label">
        Version 0.0.1
      </span>
    </div>
  </nb-sidebar>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>

<ng-container appActionListener></ng-container>
