<ng-container *ngIf="interview$ | async; let interview">
  <header class="header-main">
    <div class="header-main-info">
      <h4 data-cy="heading">
        Interview
        <span class="label">{{ interview.startDate | date: 'dd.MM.yyyy' }}</span>
      </h4>
      <span class="subtitle-2" *ngFor="let person of interview.contactPersons" data-cy="subheading">
        {{ person.forename + ' ' + person.surname + ',' }}
      </span>
    </div>
    <div>
      <button class="mr-1" hero [routerLink]="['/audits/' + interview.auditId + '/interviews']" nbButton>
        <nb-icon icon="arrow-back-outline"></nb-icon>
        Interviews
      </button>
      <button (click)="onFinishClick()" status="primary" hero nbButton>
        <nb-icon icon="checkmark-square-outline"></nb-icon>
        Abschließen
      </button>
    </div>
  </header>
  <nb-form-field class="mt-2" id="input-goal">
    <nb-icon nbPrefix icon="compass-outline"></nb-icon>
    <input [value]="interview.goal" (input)="onGoalInput($event.target.value)" placeholder="Ziel des Interviews..." type="text" fullWidth nbInput data-cy="notes" />
  </nb-form-field>
</ng-container>
<nb-card class="mt-1">
  <nb-card-body>
    <ng-container *ngIf="facCrit$ | async; let facCrit">
      <div class="nb-card-header-navigation">
        <nb-icon class="ml-1 icon-navigation" (click)="onNaviagteBack(facCrit.id)" icon="arrow-ios-back-outline"></nb-icon>
        <p class="subtitle">
          {{ facCrit.name }}
          <span *ngIf="facCritIds" class="text-hint">{{ getFacCritPosition(facCrit.id) }}</span>
        </p>
        <nb-icon class="mr-1 icon-navigation" (click)="onNavigateForward(facCrit.id)" icon="arrow-ios-forward-outline"></nb-icon>
      </div>
    </ng-container>
  </nb-card-body>
</nb-card>
<ng-container *ngIf="answers$ | async | answerByIds: interviewId:facCritId; let answers">
  <app-answer-question-list [answers]="answers"></app-answer-question-list>
</ng-container>
