@import '../../../sass/utils';
@import '../../../../node_modules/@nebular/theme/styles/theming';
@import '../../../../node_modules/@nebular/theme/styles/themes/default';

nb-card-body {
  padding: 7px !important;
}
nb-accordion-item-header,
nb-card-header {
  background: #f7f9fc !important;
}

nb-accordion-item-header {
  border-radius: 0.25rem !important;
}

nb-accordion-item.expanded nb-accordion-item-header {
  border-radius: 0.25rem 0.25rem 0 0 !important;
}

textarea {
  resize: vertical;
}

.header-main {
  display: flex;
  justify-content: space-between;
}

.nb-card-header-navigation {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 0 5px;

  justify-items: center;
  align-items: center;
}

#fac-crit-goal {
  position: sticky !important;
  top: 77px !important;
  z-index: 1;
}
