@import '../../../sass/utils';
@import '../../../../node_modules/@nebular/theme/styles/theming';
@import '../../../../node_modules/@nebular/theme/styles/themes/default';

nb-card-body {
  padding: 7px !important;
}

textarea {
  resize: vertical;
}

.header-main {
  display: flex;
  justify-content: space-between;
}

.nb-card-header-navigation {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 0 5px;

  justify-items: center;
  align-items: center;
}

.icon-navigation {
  cursor: pointer;
}
