<a [routerLink]="[interview.id, facCritId]">
  <ng-container [ngSwitch]="interview.status">
    <div
      nbPopoverPlacement="left"
      nbPopover="In Bearbeitung"
      nbPopoverTrigger="hint"
      *ngSwitchCase="interviewStatuses.InAction"
      class="banner-status banner-status-in-action"
      data-cy="interview-status"
    ></div>
    <div
      nbPopoverPlacement="left"
      nbPopover="Abgeschlossen"
      nbPopoverTrigger="hint"
      *ngSwitchCase="interviewStatuses.Finished"
      class="banner-status banner-status-is-finished"
      data-cy="interview-status"
    ></div>
  </ng-container>
  <nb-card-header>
    <div class="subtitle-2" data-cy="interview-contact-persons">
      <span> {{ interview.contactPeople[0].firstName + ' ' + interview.contactPeople[0].lastName + ' | ' }} </span>
      <span> {{ interview.contactPeople[0].role }} </span>
      <span *ngIf="interview.contactPeople.length > 1"> (+)</span>
      <span class="label" *ngIf="interview.start" data-cy="interview-timestamp"> &nbsp;{{ interview.start | date: 'dd.MM.yyyy' }} </span>
    </div>
    <br />
  </nb-card-header>
</a>
