<form [formGroup]="formGroup" data-cy="contact-data-form">
  <nb-card>
    <nb-card-header>
      <nb-icon icon="person-outline"> </nb-icon>
      Neue Kontaktperson
    </nb-card-header>
    <nb-card-body>
      <div class="grid-1-1 mb-2">
        <div>
          <label class="label">Anrede</label>
          <nb-select placeholder="Herr" formControlName="salutation" fullWidth data-cy="contact-salutation-input">
            <nb-option value="Herr" data-cy="salutation-option">Herr</nb-option>
            <nb-option value="Frau" data-cy="salutation-option">Frau</nb-option>
            <nb-option value="Divers" data-cy="salutation-option">Divers</nb-option>
          </nb-select>
          <div *ngIf="salutation.invalid && salutation.touched">
            <label class="label text-danger" data-cy="missing-label">Anrede wählen</label>
          </div>
        </div>
        <div>
          <label class="label">Titel</label>
          <input placeholder="Dr." [status]="title.invalid && title.touched ? 'danger' : 'basic'" formControlName="title" nbInput fullWidth data-cy="contact-title-input" />
          <div *ngIf="title.invalid && title.touched">
            <label class="label text-danger" data-cy="missing-label">Titel eintragen</label>
          </div>
        </div>
      </div>
      <div class="grid-1-1 mb-2">
        <div>
          <label class="label">Vorname</label>
          <input placeholder="Max" [status]="firstName.invalid && firstName.touched ? 'danger' : 'basic'" formControlName="firstName" nbInput fullWidth data-cy="contact-firstname-input" />
          <div *ngIf="firstName.invalid && firstName.touched">
            <label class="label text-danger" data-cy="missing-label">Vornamen eintragen</label>
          </div>
        </div>
        <div>
          <label class="label">Nachname</label>
          <input placeholder="Mustermann" [status]="lastName.invalid && lastName.touched ? 'danger' : 'basic'" formControlName="lastName" nbInput fullWidth data-cy="contact-lastname-input" />
          <div *ngIf="lastName.invalid && lastName.touched">
            <label class="label text-danger" data-cy="missing-label">Nachnamen eintragen</label>
          </div>
        </div>
      </div>
      <div class="grid-1-1 mb-2">
        <div>
          <label class="label">Unternehmen</label>
          <input placeholder="msg systems AG" [status]="companyName.invalid && companyName.touched ? 'danger' : 'basic'" formControlName="companyName" nbInput fullWidth data-cy="company-name-input" />
          <div *ngIf="companyName.invalid && companyName.touched">
            <label class="label text-danger" data-cy="missing-label">Unternehmen eintragen</label>
          </div>
        </div>
        <div>
          <label class="label">Abteilung</label>
          <input
            placeholder="Softwareentwicklung"
            [status]="department.invalid && department.touched ? 'danger' : 'basic'"
            formControlName="department"
            nbInput
            fullWidth
            data-cy="company-department-input"
          />
          <div *ngIf="department.invalid && department.touched">
            <label class="label text-danger" data-cy="missing-label">Abteilung eintragen</label>
          </div>
        </div>
      </div>
      <div class="grid-1-1 mb-2">
        <div>
          <label class="label">Unternehmensbereich</label>
          <input
            placeholder="msg Public Sector"
            [status]="corporateDivision.invalid && corporateDivision.touched ? 'danger' : 'basic'"
            formControlName="corporateDivision"
            nbInput
            fullWidth
            data-cy="company-division-input"
          />
          <div *ngIf="corporateDivision.invalid && corporateDivision.touched">
            <label class="label text-danger" data-cy="missing-label">Unternehmensbereich eintragen</label>
          </div>
        </div>
        <div>
          <label class="label">Branche</label>
          <input placeholder="Software" [status]="sector.invalid && sector.touched ? 'danger' : 'basic'" formControlName="sector" nbInput fullWidth data-cy="company-sector-input" />
          <div *ngIf="sector.invalid && sector.touched">
            <label class="label text-danger" data-cy="missing-label">Branche eintragen</label>
          </div>
        </div>
      </div>
      <label class="label">Kontaktinformation</label>
      <textarea spellcheck="false" nbInput formControlName="contactInformation" placeholder="Erreichbar unter..." fullWidth data-cy="contact-info-input"></textarea>
    </nb-card-body>
    <nb-card-footer>
      <button (click)="onCancel()" hero nbButton data-cy="cancel-data-form">
        abbrechen
      </button>
      <button (click)="onSubmit()" [disabled]="formGroup.invalid" status="primary" hero nbButton data-cy="submit-data-form">
        {{ submitButtonName }}
      </button>
    </nb-card-footer>
  </nb-card>
</form>
