<header>
  <p class="subtitle-2 mb-2" data-cy="contact-name">
    {{ contactPerson.forename + ' ' + contactPerson.surname }}
  </p>
  <a [routerLink]="contactPerson.id + '/edit'" nbPopover="Bearbeiten" ghost nbPopoverTrigger="hint" nbButton data-cy="edit-person-button">
    <nb-icon icon="edit-outline"></nb-icon>
  </a>
</header>
<div class="wrapper-contact-person-details">
  <div>
    <label class="label" data-cy="contact-companyname">Unternehmen</label>
    <p class="subtitle-2" data-cy="contact-companyname-entry">{{ contactPerson.companyName }}</p>
  </div>
  <div>
    <label class="label" data-cy="contact-department">Abteilung</label>
    <p *ngIf="contactPerson.department; else missing" class="subtitle-2" data-cy="contact-department-entry">{{ contactPerson.department }}</p>
  </div>
  <div>
    <label class="label" data-cy="contact-division">Unternehmensbereich</label>
    <p class="subtitle-2" data-cy="contact-division-entry">{{ contactPerson.corporateDivision }}</p>
  </div>
  <div>
    <label class="label" data-cy="contact-sector">Branche</label>
    <p *ngIf="contactPerson.sector; else missing" class="subtitle-2" data-cy="contact-sector-entry">{{ contactPerson.sector }}</p>
  </div>
  <ng-template #missing>
    <p class="subtitle-2" data-cy="missing">-</p>
  </ng-template>
</div>
