<header class="grid-1-auto-auto">
  <h4>Audits</h4>
  <a routerLink="new" hero size="medium" nbButton status="primary" data-cy="new-audit">
    <div class="min-500">
      <nb-icon icon="plus"></nb-icon>
      Neuer Audit
    </div>
    <div class="max-500">
      <nb-icon icon="plus"></nb-icon>
    </div>
  </a>
  <button size="medium" nbButton hero data-cy="export-audits">
    <div class="min-500">
      <nb-icon icon="download"></nb-icon>
      (4) Exportieren
    </div>
    <div class="max-500">
      <nb-icon icon="download"></nb-icon>
    </div>
  </button>
</header>
<nb-tabset data-cy="audits-list">
  <nb-tab responsive tabTitle="Aktiv" tabIcon="activity-outline" data-cy="active-audits">
    <div *ngIf="(activeAudits$ | async)?.length > 0; else noActiveAudits">
      <app-audit-card *ngFor="let audit of activeAudits$ | async" [audit]="audit"></app-audit-card>
    </div>
    <ng-template #noActiveAudits>
      <div class="hint-no-audits">
        <h6 class="text-hint">Keine aktiven Audits vorhanden</h6>
      </div>
    </ng-template>
  </nb-tab>
  <nb-tab responsive tabTitle="Archiv" tabIcon="archive-outline" data-cy="archived-audits">
    <div *ngIf="(archivedAudits$ | async)?.length > 0; else noArchivedAudits">
      <app-audit-card *ngFor="let audit of archivedAudits$ | async | sortAudit" [audit]="audit"></app-audit-card>
    </div>
    <ng-template #noArchivedAudits>
      <div class="hint-no-audits">
        <h6 class="text-hint">Keine archivierten Audits vorhanden</h6>
      </div>
    </ng-template>
  </nb-tab>
</nb-tabset>
<nb-layout>
  <router-outlet></router-outlet>
</nb-layout>
