@import '../../../../sass/utils';

.edit-icon-bar {
  text-align: right;
}

.audit-params {
  margin-top: 7px;
}

.wrapper-header {
  display: flex;
  justify-content: space-between;
}

.hint-no-contacts {
  margin: 0 auto;
  text-align: center;
  padding: 40px;
}
