@import 'src/sass/utils';
@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';

#input-goal {
  position: sticky;
  top: nb-theme(header-height) - nb-theme(header-padding) + 1.5;
  z-index: 1;
}

.header-main {
  display: flex;
  justify-content: space-between;
}

.nb-card-header-navigation {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 0 5px;

  justify-items: center;
  align-items: center;
}

nb-card-body {
  padding: 0px !important;
}
