$msg-100: #e07d94;
$msg-200: #d15471;
$msg-300: #c43c5c;
$msg-400: #b12e4c;
$msg-500: #9b2743; // Pantone 194
$msg-600: #921e39;
$msg-700: #851630;
$msg-800: #750c24;
$msg-gray: #53565a; // Pantone Cool Gray 11
$border-light: #f0f0f0;
