.container {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  margin: 5rem auto 0 auto !important;
  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

.grid-1-auto {
  display: grid;
  grid-template-columns: 1fr auto;
}

.grid-2-1-1 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 20px;

  @media screen and (max-width: 800px) {
    grid-template-columns: 1fr;
  }
}

.grid-auto-1 {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;

  @media screen and (max-width: 800px) {
    grid-template-columns: 1fr 1fr;

    & .form-item:first-child {
      grid-column: 1 / -1;
    }
  }
}

.grid-auto-1-1 {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  gap: 20px;

  @media screen and (max-width: 800px) {
    grid-template-columns: 1fr;

    & .form-item:first-child {
      grid-column: 1 / -1;
    }
  }
}

.grid-1-auto-auto {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 5px;
}

.grid-3-1 {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;

  @media screen and (max-width: 500px) {
    grid-template-columns: 1fr;
  }
}

.grid-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  @media screen and (max-width: 500px) {
    grid-template-columns: 1fr;
  }
}

.max-500 {
  display: none;
  @media screen and(max-width: 500px ) {
    display: block;
  }
}

.min-500 {
  display: none;
  @media screen and(min-width: 500px ) {
    display: block;
  }
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}

.mb-4 {
  margin-bottom: 40px;
}
