@import 'themes';
@import 'reset';
@import 'colors';
@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
}

// Remove min-width from nb-layouts that container router-outlet
// inside audit-list and audit-overview

nb-layout:nth-child(3) > div:nth-child(1) > div:nth-child(1) {
  min-height: 0;
}

hr {
  border: none;
  border-bottom: 1px solid $border-light;
}

nb-menu {
  ul > .menu-item > a > span {
    width: 180px !important;
  }
}
