<header class="grid-1-auto-auto">
  <h4>Kontakt</h4>
  <a routerLink="new" hero size="medium" nbButton status="primary" data-cy="new-audit">
    <nb-icon icon="person-add-outline"></nb-icon>
    Neue Person
  </a>
</header>

<div *ngIf="contactPeople$ | async as contactPeople">
  <nb-card fullWidth>
    <nb-card-header>Registrierte Kontaktpersonen ({{ contactPeople.length }})</nb-card-header>
    <nb-card-body>
      <nb-list>
        <nb-list-item *ngFor="let contactPerson of contactPeople">
          <app-contact-person-card [contactPerson]="contactPerson"></app-contact-person-card>
        </nb-list-item>
      </nb-list>
    </nb-card-body>
  </nb-card>
</div>
<nb-layout>
  <router-outlet></router-outlet>
</nb-layout>
