<header class="grid-1-auto-auto">
  <h3>Kontaktpersonen</h3>
  <a routerLink="new" hero size="medium" nbButton status="primary" data-cy="new-audit">
    <nb-icon icon="plus"></nb-icon>
    Neue Person
  </a>
</header>

<div *ngIf="contactPeople$ | async as contactPeople; else noContactPersons">
  <app-contact-person-card [contactPerson]="contactPerson" *ngFor="let contactPerson of contactPeople"> </app-contact-person-card>
</div>
<ng-template #noContactPersons>
  <div class="hint-no-audits">
    <h6 class="text-hint">Keine Kontaktpersonen vorhanden</h6>
  </div>
</ng-template>
<nb-layout>
  <router-outlet></router-outlet>
</nb-layout>
