.header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 5px;
  margin-bottom: 20px;

  @media screen and (max-width: 740px) {
    grid-template-columns: 1fr 1fr;
    & .header-title {
      grid-column: 1 / -1;
    }
  }

  @media screen and (max-width: 500px) {
    grid-template-columns: 1fr;
    & .header-title {
      grid-column: 1 / -1;
    }
  }
}

.audit-cards {
  display: grid;
  gap: 10px;
}

.hint-no-audits {
  width: 300px;
  height: 300px;
  margin: 100px auto 0 auto;
  text-align: center;
}
