<header class="grid-1-auto-auto">
  <h4 class="header-title">Audits</h4>
  <a [routerLink]="['new']" hero size="medium" nbButton status="primary">
    <div class="min-500">
      <nb-icon icon="plus"></nb-icon>
      Neuer Audit
    </div>
    <div class="max-500">
      <nb-icon icon="plus"></nb-icon>
    </div>
  </a>
  <button size="medium" nbButton hero>
    <div class="min-500">
      <nb-icon icon="download"></nb-icon>
      (4) Exportieren
    </div>
    <div class="max-500">
      <nb-icon icon="download"></nb-icon>
    </div>
  </button>
</header>
<nb-tabset>
  <nb-tab tabTitle="Aktiv" tabIcon="activity-outline">
    <aside class="hint-no-audits" *ngIf="(activeAudits$ | async).length == 0">
      <h6 class="text-hint">Keine aktiven Audits vorhanden</h6>
    </aside>
    <app-audit-card *ngFor="let audit of ((activeAudits$ | async) | sortAudit)" [audit]="audit"></app-audit-card>
  </nb-tab>
  <nb-tab tabTitle="Archiv" tabIcon="archive-outline">
    <aside class="hint-no-audits" *ngIf="(archivedAudits$ | async).length == 0">
      <h6 class="text-hint">Keine Audits im Archiv</h6>
    </aside>
    <app-audit-card *ngFor="let audit of ((archivedAudits$ | async) | sortAudit)" [audit]="audit"></app-audit-card>
  </nb-tab>
</nb-tabset>

<router-outlet></router-outlet>
