<a [routerLink]="[interview.id, facCritId]">
  <ng-container [ngSwitch]="interview.status">
    <div
      nbPopoverPlacement="left"
      nbPopover="In Bearbeitung"
      nbPopoverTrigger="hint"
      *ngSwitchCase="interviewStatuses.Active"
      class="banner-status banner-status-in-action"
      data-cy="interview-status"
    ></div>
    <div
      nbPopoverPlacement="left"
      nbPopover="Abgeschlossen"
      nbPopoverTrigger="hint"
      *ngSwitchCase="interviewStatuses.Finished"
      class="banner-status banner-status-is-finished"
      data-cy="interview-status"
    ></div>
  </ng-container>
  <nb-card-header>
    <div class="subtitle-2" data-cy="interview-contact-persons">
      <ng-container *ngIf="interview.contactPersons && interview.contactPersons.length > 0; else noContactPerson">
        <span> {{ interview.contactPersons[0].forename + ' ' + interview.contactPersons[0].surname }} </span>
        <span> {{ interview.contactPersons[0].role }} </span>
        <span *ngIf="interview.contactPersons.length > 1"> | + {{ interview.contactPersons.length - 1 }}</span>
      </ng-container>
      <ng-template #noContactPerson>
        <span class="text-danger">Keine Kontaktperson gewählt</span>
      </ng-template>
      <span class="label" *ngIf="interview.startDate" data-cy="interview-timestamp"> &nbsp;{{ interview.startDate | date: 'dd.MM.yyyy' }} </span>
    </div>
    <br />
  </nb-card-header>
</a>
