@import '../../../../sass/utils';
@import '../../../../../node_modules/@nebular/theme/styles/theming';
@import '../../../../../node_modules/@nebular/theme/styles/themes/default';

header {
  margin: 20px 0 10px 0;
  display: grid;
  justify-items: right;
}

nb-accordion {
  margin-bottom: 15px;
}

app-interview-card {
  position: relative;
  padding-left: 30px;
}

nb-card {
  margin-bottom: 0px;
}

li {
  margin-left: 20px;
}

nb-list-item {
  display: grid;
}

nb-accordion-item-header,
nb-card-header {
  background: #f7f9fc !important;
  position: relative;
}

.banner-status {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 12px;
  border-radius: 3px 0 0 0;
}

nb-accordion-item.collapsed .banner-status {
  border-radius: 3px 0 0 3px;
}

.banner-status-in-action {
  background-color: nb-theme(color-warning-default);
}

.banner-status-is-finished {
  background-color: nb-theme(color-success-default);
}

.hint-no-interviews {
  margin: 0 auto;
  text-align: center;
}
