<ng-container *ngIf="audit && interviews">
  <header>
    <button [disabled]="audit.status !== 'ACTIVE' || !audit.scope?.length" routerLink="new" nbButton status="primary" hero data-cy="new-interview">
      <nb-icon icon="plus"></nb-icon>
      Neues Interview
    </button>
  </header>
  <div class="fac-crits" *ngIf="audit.scope.length; else noFacrits">
    <nb-accordion [id]="factor.id" *ngFor="let factor of audit.scope | factors">
      <nb-accordion-item [expanded]="hasUnfinishedInterviews(interviewsByFactorId(factor.id))" data-cy="factor-card">
        <nb-accordion-item-header class="subtitle-2" data-cy="factor-header">
          <div style="display: grid;">
            {{ factor.name }}
            <ng-container *ngIf="interviewsByFactorId(factor.id); let interviewsInFactor">
              <ng-container *ngIf="interviewsInFactor.length; else noInterviews">
                <p
                  [ngClass]="{
                    'text-success': (interviewsInFactor | finishedInterviewsCount) === interviewsInFactor.length,
                    'text-warning': (interviewsInFactor | finishedInterviewsCount) !== interviewsInFactor.length
                  }"
                  class="label"
                >
                  {{ (interviewsInFactor | finishedInterviewsCount) + '/' + interviewsInFactor.length + ' Interviews abgeschlossen' }}
                </p>
              </ng-container>
              <ng-template #noInterviews>
                <p class="label">
                  Noch keine Interviews angelegt
                </p>
              </ng-template>
            </ng-container>
          </div>
        </nb-accordion-item-header>
        <nb-accordion-item-body data-cy="faccrit-body">
          <nb-list *ngIf="interviews | interviewsByFacCritId: factor.id; let factorInterviews">
            <nb-list-item *ngFor="let interview of factorInterviews">
              <app-interview-card [interview]="interview" [facCritId]="factor.id" data-cy="interview"></app-interview-card>
            </nb-list-item>
          </nb-list>
          <nb-card [id]="criteria.id" class="mt-2" *ngFor="let criteria of audit.scope | criteriaByFactorId: factor.id">
            <nb-card-header class="subtitle-2" data-cy="criteria-header">
              {{ criteria.name }}
            </nb-card-header>
            <nb-list *ngIf="interviews | interviewsByFacCritId: criteria.id; let criteriaInterviews">
              <nb-list-item *ngFor="let interview of criteriaInterviews">
                <app-interview-card [interview]="interview" [facCritId]="criteria.id" data-cy="interview"></app-interview-card>
              </nb-list-item>
            </nb-list>
          </nb-card>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>
  <ng-template #noFacrits>
    <div class="hint-no-interviews" data-cy="emptyScope">
      <h6 class="text-hint mb-1">Leerer Scope</h6>
      <p class="label">Fügen Sie dem Audit ISO/IEC Faktoren & Kriterien hinzu</p>
    </div>
  </ng-template>
  <nb-layout>
    <router-outlet></router-outlet>
  </nb-layout>
</ng-container>
