<nb-card>
  <nb-card-body>
    <nb-stepper disableStepNavigation orientation="horizontal">
      <nb-step label="Audit Stammdaten">
        <form class="form" [formGroup]="auditForm">
          <section aria-label="Form Fields for the audit's base data">
            <h6>Grunddaten</h6>
            <div class="grid-2-1-1">
              <div class="form-item">
                <label class="label">Auditname</label>
                <input
                  [status]="auditName.invalid && auditName.touched ? 'danger' : 'basic'"
                  formControlName="auditName"
                  nbInput
                  fullWidth
                />
                <div *ngIf="auditName.invalid && auditName.touched">
                  <label class="label text-danger">Auditnamen eintragen</label>
                </div>
              </div>
              <div class="form-item">
                <label class="label">Startdatum</label>
                <input formControlName="start" type="date" nbInput fullWidth />
              </div>
              <div class="form-item">
                <label class="label">Enddatum</label>
                <input formControlName="end" type="date" nbInput fullWidth />
              </div>
            </div>
          </section>
          <hr />
          <section aria-label="Form Fields for cusomter data">
            <h6>Kundendaten</h6>
            <div class="grid-2-1-1">
              <div class="form-item">
                <label class="label">Unternehmen</label>
                <input
                  formControlName="companyName"
                  [status]="companyName.invalid && companyName.touched ? 'danger' : 'basic'"
                  nbInput
                  fullWidth
                />
                <div *ngIf="companyName.invalid && companyName.touched">
                  <label class="label text-danger">Unternehmen eintragen</label>
                </div>
              </div>
              <div class="form-item">
                <label class="label">Abteilung</label>
                <input
                  formControlName="department"
                  [status]="department.invalid && department.touched ? 'danger' : 'basic'"
                  nbInput
                  fullWidth
                />
                <div *ngIf="department.invalid && department.touched">
                  <label class="label text-danger">Abteilung eintragen</label>
                </div>
              </div>
              <div class="form-item">
                <label class="label">Branche</label>
                <input
                  formControlName="sector"
                  [status]="sector.invalid && sector.touched ? 'danger' : 'basic'"
                  nbInput
                  fullWidth
                  status="danger"
                />
                <div *ngIf="sector.invalid && sector.touched">
                  <label class="label text-danger">Branche eintragen</label>
                </div>
              </div>
            </div>
          </section>
          <hr />
          <section aria-label="Form Fields for contact person">
            <h6>Kontaktdaten</h6>
            <div class="grid-auto-1-1 mb-2">
              <div class="form-item">
                <label class="label">Titel</label>
                <nb-select
                  formControlName="title"
                  [status]="title.invalid && title.touched ? 'danger' : 'basic'"
                  fullWidth
                >
                  <nb-option value="male">Herr</nb-option>
                  <nb-option value="female">Frau</nb-option>
                </nb-select>
                <div *ngIf="title.invalid && title.touched">
                  <label class="label text-danger">Titel wählen</label>
                </div>
              </div>
              <div class="form-item">
                <label class="label">Vorname</label>
                <input
                  formControlName="firstName"
                  [status]="firstName.invalid && firstName.touched ? 'danger' : 'basic'"
                  nbInput
                  fullWidth
                />
                <div *ngIf="firstName.invalid && firstName.touched">
                  <label class="label text-danger">Vornamen eintragen</label>
                </div>
              </div>
              <div class="form-item">
                <label class="label">Nachname</label>
                <input
                  formControlName="lastName"
                  [status]="lastName.invalid && lastName.touched ? 'danger' : 'basic'"
                  nbInput
                  fullWidth
                />
                <div *ngIf="lastName.invalid && lastName.touched">
                  <label class="label text-danger">Nachnamen eintragen</label>
                </div>
              </div>
            </div>
            <div class="form-item">
              <label class="label">Kontaktinformation</label>
              <textarea
                spellcheck="false"
                nbInput
                formControlName="contactInformation"
                [status]="
                  contactInformation.invalid && contactInformation.touched ? 'danger' : 'basic'
                "
                placeholder="Erreichbar unter..."
                fullWidth
              ></textarea>
              <div *ngIf="contactInformation.invalid && contactInformation.touched">
                <label class="label text-danger">Kontaktinformationen eintragen</label>
              </div>
            </div>
          </section>
        </form>
        <div class="step-footer">
          <button [routerLink]="['/audits']" nbButton>abbrechen</button>
          <div></div>
          <button [disabled]="auditForm.invalid" nbButton nbStepperNext>weiter</button>
        </div>
      </nb-step>
      <nb-step label="ISO/IEC 25010">
        <app-category-form (categoriesSubmitted)="onSubmit($event)"></app-category-form>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>
