@import 'src/sass/utils';

.step-footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin-top: 20px;
}

.mb-2 {
  margin-bottom: 20px;
}

hr {
  margin: 30px 0 30px 0;
  border-color: rgb(238, 238, 238);
}

textarea {
  resize: vertical;
}

h6 {
  margin-bottom: 20px;
}
