<nb-card [routerLink]="[audit.id + '/interviews']" data-cy="audit-card">
  <ng-container [ngSwitch]="audit.status">
    <div nbPopoverPlacement="left" nbPopover="Geplant" nbPopoverTrigger="hint" *ngSwitchCase="auditStatus.Planned" class="banner-status banner-status-is-planned" data-cy="audit-status"></div>
    <div nbPopoverPlacement="left" nbPopover="In Bearbeitung" nbPopoverTrigger="hint" *ngSwitchCase="auditStatus.Active" class="banner-status banner-status-in-action" data-cy="audit-status"></div>
    <div nbPopoverPlacement="left" nbPopover="Abgeschlossen" nbPopoverTrigger="hint" *ngSwitchCase="auditStatus.Finished" class="banner-status banner-status-is-finished" data-cy="audit-status"></div>
    <div nbPopoverPlacement="left" nbPopover="Abgebrochen" nbPopoverTrigger="hint" *ngSwitchCase="auditStatus.Cancelled" class="banner-status banner-status-is-canceled" data-cy="audit-status"></div>
  </ng-container>
  <nb-card-header [id]="audit.id">
    <div data-cy="audit-short-infos">
      {{ audit.name }}
      <span *ngIf="contactPerson">| {{ contactPerson.companyName }} </span>
      <br />
      <span class="label" data-cy="audit-dates"> &nbsp;{{ audit.startDate | date: 'dd.MM.yyyy' }} - {{ audit.endDate ? (audit.endDate | date: 'dd.MM.yyyy') : 'TBD' }}</span>
    </div>
    <div></div>
    <button [routerLink]="[audit.id + '/edit']" (click)="$event.stopPropagation()" nbButton ghost data-cy="edit-audit">
      <nb-icon icon="edit-outline"></nb-icon>
    </button>
  </nb-card-header>
</nb-card>
