<section class="category-container" aria-label="Checkboxes for ISO/IEC 25010 categories">
  <h6>ISO/IEC 25010 Kategorien</h6>
  <div></div>
  <ul *ngFor="let parentCategory of categories">
    <nb-checkbox
      (checkedChange)="
        $event ? addParentCategory(parentCategory) : removeParentCategory(parentCategory)
      "
      [checked]="isChecked(parentCategory.title)"
    >
      {{ parentCategory.title }}
    </nb-checkbox>
    <li *ngFor="let childCategory of parentCategory.children">
      <nb-checkbox
        (checkedChange)="
          $event
            ? addChildCategory(childCategory, parentCategory)
            : removeChildCategory(childCategory, parentCategory)
        "
        [checked]="isChecked(childCategory.title)"
      >
        {{ childCategory.title }}
      </nb-checkbox>
    </li>
  </ul>
</section>
<div class="step-footer">
  <button nbButton nbStepperPrevious>zurück</button>
  <div></div>
  <button (click)="onSubmit()" nbButton status="primary" hero nbStepperNext>
    audit hinzufügen
  </button>
</div>
