@import '../../../../sass/utils';

nb-checkbox {
  display: block;
}

nb-card-footer {
  display: flex;
  justify-content: space-between;
  border-radius: 0;
  padding: 10px 20px 10px 20px;
}

.wrapper-facCrits {
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;

  @media screen and(max-width: 500px) {
    grid-template-columns: 1fr;

    nb-checkbox {
      margin: 0px 10px 0px 0px;
    }
  }

  & .criteria {
    margin-left: 20px;
  }
}

.wrapper-selected-person {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
