<form [formGroup]="formGroup" data-cy="add-interview-form">
  <nb-card fullWidth>
    <nb-card-header>Neues Interview</nb-card-header>
    <nb-card-body>
      <div class="mb-2">
        <nb-accordion>
          <nb-accordion-item>
            <nb-accordion-item-header class="label" data-cy="interview-scope-header">ISO/IEC 25010 Faktoren / Kriterien</nb-accordion-item-header>
            <nb-accordion-item-body data-cy="interview-scope-body">
              <div class="wrapper-facCrits mt-2">
                <div class="wrapper-facCrits-inner" *ngFor="let factor of scope | factors">
                  <nb-checkbox [formControlName]="factor.id" data-cy="interview-scope-factor">{{ factor.name }}</nb-checkbox>
                  <nb-checkbox
                    class="criteria"
                    *ngIf="(scope | criterias: factor.id).length > 0"
                    (checkedChange)="toggleCriteriaChecked(factor.id, $event)"
                    status="warning"
                    data-cy="interview-scope-radio"
                    >Alle Kriterien</nb-checkbox
                  >
                  <nb-checkbox class="criteria" [formControlName]="criteria.id" *ngFor="let criteria of scope | criterias: factor.id" data-cy="interview-scope-criteria">{{
                    criteria.name
                  }}</nb-checkbox>
                </div>
              </div>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </div>
      <div class="mb-2">
        <label class="label">Startdatum</label>
        <input formControlName="startDate" readonly nbInput fullWidth [nbDatepicker]="datePickerStart" data-cy="interview-start-input" />
        <nb-datepicker #datePickerStart></nb-datepicker>
      </div>
      <div class="mb-2">
        <label class="label">Kontaktpersonen</label>
        <input type="text" #contactPersonInput nbInput fullWidth [nbAutocomplete]="auto" (input)="filterOptions($event.target.value)" data-cy="interview-contacts" />
        <nb-autocomplete (selectedChange)="onContactPersonSelected($event); contactPersonInput.value = ''" #auto>
          <nb-option *ngFor="let option of filteredContactPersons$ | async" [value]="option" data-cy="contact-option">
            <span
              >{{ option.forename + ' ' + option.surname }} <span class="subtitle-2"> | {{ option.companyName }}</span></span
            >
          </nb-option>
        </nb-autocomplete>
        <nb-list class="mt-1">
          <nb-list-item *ngFor="let cp of selectedContactPersons" data-cy="contact-chosen">
            <div class="wrapper-selected-person">
              <nb-user [name]="cp.name" [title]="cp.company"> </nb-user>
              <button ghost (click)="onRemoveContactPerson(cp)" nbButton data-cy="contact-delete">
                <nb-icon icon="trash-outline"></nb-icon>
              </button>
            </div>
          </nb-list-item>
        </nb-list>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button (click)="onCancel()" hero nbButton data-cy="cancel-interview-data-form">
        abbrechen
      </button>
      <button [disabled]="!facCritSelected" (click)="onSubmit()" status="primary" hero nbButton data-cy="submit-interview-data-form">
        Hinzufügen
      </button>
    </nb-card-footer>
  </nb-card>
</form>
