@import 'src/sass/utils';

.wrapper-contact-person-details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 10px;

  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

:host {
  width: 100%;
  position: relative;
}

.action-bar {
  position: absolute;
  top: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 10px;
}
