<p class="subtitle-2 mb-2" data-cy="contact-name">
  {{ contactPerson.firstName + ' ' + contactPerson.lastName }}
</p>

<div class="wrapper-contact-person-details">
  <div>
    <label class="label" data-cy="contact-companyname">Unternehmen</label>
    <p class="subtitle-2">{{ contactPerson.companyName }}</p>
  </div>
  <div>
    <label class="label" data-cy="contact-department">Abteilung</label>
    <p *ngIf="contactPerson.department; else missing" class="subtitle-2">{{ contactPerson.department }}</p>
  </div>
  <div>
    <label class="label" data-cy="contact-division">Unternehmensbereich</label>
    <p class="subtitle-2">{{ contactPerson.corporateDivision }}</p>
  </div>
  <div>
    <label class="label" data-cy="contact-sector">Branche</label>
    <p *ngIf="contactPerson.sector; else missing" class="subtitle-2">{{ contactPerson.sector }}</p>
  </div>
  <ng-template #missing>
    <p class="subtitle-2">-</p>
  </ng-template>
</div>

<div class="action-bar">
  <a [routerLink]="contactPerson.id + '/edit'" nbPopover="Bearbeiten" nbPopoverTrigger="hint" status="primary" ghost nbButton data-cy="edit-person-button">
    <nb-icon icon="edit-outline"></nb-icon>
  </a>
  <button (click)="onDelete()" nbPopover="Löschen" nbPopoverTrigger="hint" status="basic" ghost nbButton data-cy="delete-person-button">
    <nb-icon icon="person-remove-outline"></nb-icon>
  </button>
</div>
