<p class="subtitle mb-2">
  {{ contactPerson.firstName + ' ' + contactPerson.lastName }}
</p>

<div class="wrapper-contact-person-details">
  <div>
    <label class="label">Unternehmen</label>
    <p class="subtitle-2">{{ contactPerson.companyName }}</p>
  </div>
  <div>
    <label class="label">Abteilung</label>
    <p class="subtitle-2">{{ contactPerson.department }}</p>
  </div>
  <div>
    <label class="label">Unternehmensbereich</label>
    <p class="subtitle-2">{{ contactPerson.corporateDivision }}</p>
  </div>
  <div>
    <label class="label">Branche</label>
    <p class="subtitle-2">{{ contactPerson.sector }}</p>
  </div>
</div>

<div class="action-bar">
  <a [routerLink]="contactPerson.id + '/edit'" nbPopover="Bearbeiten" nbPopoverTrigger="hint" status="primary" ghost nbButton>
    <nb-icon icon="edit-outline"></nb-icon>
  </a>
  <button (click)="onDelete()" nbPopover="Löschen" nbPopoverTrigger="hint" status="danger" ghost nbButton>
    <nb-icon icon="person-remove-outline"></nb-icon>
  </button>
</div>
